<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.segmentation"
      name="Segmentation"
      category="Segmentation"
      icon="resources/segmentation.svg"
      class="QmitkSegmentationView" >
      <description>Allows the segmentation of images using different tools.</description>
      <keywordReference id="org.mitk.views.segmentation.ViewKeyword"/>
    </view>
    <view
      id="org.mitk.views.segmentationutilities"
      name="Segmentation Utilities"
      category="Segmentation"
      class="QmitkSegmentationUtilitiesView"
      icon="resources/segmentation_utilities.svg" >
      <description>Edit segmentations using standard operations. </description>
      <keywordReference id="org.mitk.views.segmentationutilities.ViewKeyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.SegmentationPreferencePage" name="Segmentation" class="QmitkSegmentationPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.SegmentationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

   <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.SegmentationPreferencePageKeywords" label="data manager"></keyword>
  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="ImageMask" label="Create polygon model" icon="" smoothed="false" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Create smoothed polygon model" icon="" smoothed = "true" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Autocrop" icon="" class="QmitkAutocropAction" />
    <contextMenuAction nodeDescriptorName="LabelSetImage" label="Create polygon model" icon="" smoothed="false" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="LabelSetImage" label="Create smoothed polygon model" icon="" smoothed = "true" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="LabelSetImage" label="Autocrop" icon="" class="QmitkAutocropLabelSetImageAction" />
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Segmentation" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Otsu" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Correction" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Paint" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Wipe" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Region Growing" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Fill" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Erase" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Live Wire" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Fast Marching" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Threshold" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Watershed" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Picking" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Watershed" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Annotation annote" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Labeling" />
    <keyword id="org.mitk.views.segmentation.ViewKeyword"  label="Tools" />

    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Segmentation" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Difference" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Intersection" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Union" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Image Masking" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Surface Masking" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Dilatation" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Erosion" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Closing" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Opening" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Fill Holes" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Morphological Operations" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Boolean Operations" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Surface to Image" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Surface creation" />
    <keyword id="org.mitk.views.segmentationutilities.ViewKeyword"  label="Surface operations" />
  </extension>
</plugin>
