<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.diffusionregistrationview"
    name="DWI Registration"
    category="Registration"
    class="QmitkDiffusionRegistrationView"
    icon="resources/diffusionregistration.png">
    <keywordReference id="org.mitk.views.diffusionregistrationview.Keyword"/>
    </view>
    
  </extension>
     

  <extension point="org.blueberry.ui.keywords">


  
  </extension>  
  
</plugin>
