<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.headmotioncorrectionview"
    name="Head-Motion Correction"
    category="Registration"
    class="QmitkHeadMotionCorrectionView"
    icon="resources/diffusionregistration.png">
    <keywordReference id="org.mitk.views.headmotioncorrectionview.Keyword"/>
    </view>

    <view id="org.mitk.views.simpleregistrationview"
    name="Registration"
    category="Registration"
    class="QmitkSimpleRegistrationView"
    icon="resources/diffusionregistration.png">
    <keywordReference id="org.mitk.views.simpleregistrationview.Keyword"/>
    </view>

  </extension>

  <extension point="org.blueberry.ui.keywords">

  <keyword label="registration" id="org.mitk.views.simpleregistrationview.Keyword"/>
  <keyword label="registration" id="org.mitk.views.headmotioncorrectionview.Keyword"/>
  <keyword label="motion" id="org.mitk.views.simpleregistrationview.Keyword"/>
  <keyword label="motion" id="org.mitk.views.headmotioncorrectionview.Keyword"/>
  <keyword label="head" id="org.mitk.views.simpleregistrationview.Keyword"/>
  <keyword label="head" id="org.mitk.views.headmotioncorrectionview.Keyword"/>
  <keyword label="align" id="org.mitk.views.simpleregistrationview.Keyword"/>
  <keyword label="align" id="org.mitk.views.headmotioncorrectionview.Keyword"/>
  <keyword label="register" id="org.mitk.views.simplerigidregistrationview.Keyword"/>
  <keyword label="register" id="org.mitk.views.headmotioncorrectionview.Keyword"/>

  </extension>

</plugin>
