<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>


  <extension point="org.blueberry.ui.keywords">

  <keyword label="DICOM" id="org.mitk.views.diffusiondicomimport.Keyword"/>
  <keyword label="image" id="org.mitk.views.diffusiondicomimport.Keyword"/>
  <keyword label="data" id="org.mitk.views.diffusiondicomimport.Keyword"/>
  <keyword label="load" id="org.mitk.views.diffusiondicomimport.Keyword"/>
  
  <keyword label="default" id="org.mitk.perspectives.diffusiondefault.Keyword"/>
  <keyword label="diffusion" id="org.mitk.perspectives.diffusiondefault.Keyword"/>
  <keyword label="data" id="org.mitk.perspectives.diffusiondefault.Keyword"/>
  <keyword label="standard" id="org.mitk.perspectives.diffusiondefault.Keyword"/>

  </extension>


  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.diffusiondicomimport"
    name="DICOM Import"
    category="Data handling"
    class="QmitkDiffusionDicomImport"
    icon="resources/dwiimport.png">
    <description>Diffusion DICOM data import</description>
    <keywordReference id="org.mitk.views.diffusiondicomimport.Keyword"/>
    </view>

    <view id="org.mitk.views.controlvisualizationpropertiesview"
    name="Visualization"
    icon="resources/vizControls.png"
    class="QmitkControlVisualizationPropertiesView">
    <keywordReference id="org.mitk.views.controlvisualizationpropertiesview.Keyword"/>
    </view>

  </extension>


  <extension point="org.blueberry.ui.perspectives">
    
    <perspective id="org.mitk.perspectives.diffusiondefault"
    name="Diffusion"
    class="QmitkDiffusionDefaultPerspective"
    icon="resources/dwi.png">
    <keywordReference id="org.mitk.perspectives.diffusiondefault.Keyword"/>
    </perspective>

  </extension>

</plugin>
