<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.stdmultiwidget"
      name="Display"
      class="QmitkStdMultiWidgetEditor">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.GeneralPreferencePage" name="General" class="QmitkGeneralPreferencePage"/>
    <page id="org.mitk.EditorsPreferencePage" name="Editors" class="QmitkEditorsPreferencePage"/>

    <page id="org.mitk.StdMultiWidgetEditorPreferencePage" name="Standard Multi Widget"
      class="QmitkStdMultiWidgetEditorPreferencePage" category="org.mitk.EditorsPreferencePage">
      <keywordreference id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords"/>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="zooming"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="padding"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="level window"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="PACS"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="mouse"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="background"/>
  </extension>
</plugin>
