<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <category 
      id="org.blueberry.views.general"
      name="General"/>
    <view
      id="org.blueberry.views.logview"
      name="Logging"
      category="org.blueberry.views.general"
      class="berry::LogView"
	  icon="resources/Logging.png" />
  </extension>
</plugin>
