<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.osgi.applications">
    <application id="org.mitk.example.customviewer">
      <run class="CustomViewer"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.example.viewerperspective"
      name="Viewer Perspective"
      class="ViewerPerspective">
    </perspective>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.example.dicomperspective"
      name="Dicom Perspective"
      class="DicomPerspective">
    </perspective>
  </extension>
</plugin>
