<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.brainextraction"
    name="Brain Extraction"
    category="Preprocessing"
    class="QmitkBrainExtractionView"
    icon="resources/brain_extraction.png">
    <keywordReference id="org.mitk.views.brainextraction.Keyword"/>
    </view>

    <view id="org.mitk.views.dipyreconstruction"
    name="Dipy ODF Reconstructions"
    category="Signal modeling"
    class="QmitkDipyReconstructionsView"
    icon="resources/dipy.png">
    <keywordReference id="org.mitk.views.dipyreconstruction.Keyword"/>
    </view>

    <view id="org.mitk.views.tractseg"
    name="TractSeg"
    category="Segmentation"
    class="QmitkTractSegView"
    icon="resources/tract_seg.png">
    <keywordReference id="org.mitk.views.dipyreconstruction.Keyword"/>
    </view>

  </extension>

</plugin>
