<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.brainextraction"
    name="Brain Extraction"
    category="Preprocessing"
    class="QmitkBrainExtractionView"
    icon="resources/brain_extraction.png">
    <keywordReference id="org.mitk.views.brainextraction.Keyword"/>
    </view>

    <view id="org.mitk.views.dipyreconstruction"
    name="Dipy ODF Reconstructions"
    category="Signal modeling"
    class="QmitkDipyReconstructionsView"
    icon="resources/dipy.png">
    <keywordReference id="org.mitk.views.dipyreconstruction.Keyword"/>
    </view>

    <view id="org.mitk.views.tractseg"
    name="TractSeg"
    category="Segmentation"
    class="QmitkTractSegView"
    icon="resources/tract_seg.png">
    <keywordReference id="org.mitk.views.dipyreconstruction.Keyword"/>
    </view>

  </extension>



    <extension point="org.blueberry.ui.keywords">

    <keyword label="segmentation" id="org.mitk.views.brainextraction.Keyword"/>
    <keyword label="segmentation" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="fiber" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="bundle" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="tract" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="TOM" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="map" id="org.mitk.views.tractseg.Keyword"/>
    <keyword label="orientation" id="org.mitk.views.tractseg.Keyword"/>

    </extension>

</plugin>
