CMakeLists.txt.user*
.clang_complete
.autosave

########## Git related

# Patches and similar
*.patch
*.diff
*.rej
*.orig

!Utilities/qtsingleapplication/*.patch
!CMakeExternals/*.patch

########## IDE specific

## Office
~$*

## vim
Session.vim
*.swp
*.swo
.vimrc

## Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

## Eclipse
.cproject
.project
.settings/

# Org-mode
.org-id-locations
*_archive

# Visual Studio / VS Code
.vs/
CMakeSettings.json

########## OS specific

## Windows files to ignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

## OSX specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

## Linux
*~
