<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/> 
    <view id="org.mitk.views.segmentation" 
      name="Segmentation" 
      icon="resources/segmentation.png"
      class="QmitkSegmentationView" />
    <view id="org.mitk.views.segmentationboolean"
      name="Boolean Operations"
      class="QmitkBooleanOperationsView"
      icon="resources/boolean.png" />
     <view id="org.mitk.views.deformableclippingplane"
       name="Clipping Plane"
       class="QmitkDeformableClippingPlaneView"
       icon="resources/deformablePlane.png" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.SegmentationPreferencePage" name="Segmentation" class="QmitkSegmentationPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.SegmentationPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

   <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.SegmentationPreferencePageKeywords" label="data manager"></keyword>
  </extension>
  
  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="Image" label="Threshold..." icon="" class="QmitkThresholdAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Create polygon model" icon="" smoothed="false" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Create smoothed polygon model" icon="" smoothed = "true" class="QmitkCreatePolygonModelAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Statistics" icon="" class="QmitkStatisticsAction" />
    <contextMenuAction nodeDescriptorName="ImageMask" label="Autocrop" icon="" class="QmitkAutocropAction" />
  </extension>

</plugin>
