<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.gui.qt.pharmacokinetics.mri"
          name="DCE MR Perfusion Datafit View"
		  category="Perfusion"
          class="MRPerfusionView"
          icon="resources/icon.svg" />
  </extension>

</plugin>
