<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension id="org.mitk.qt.coreapplication" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkCoreApplication"/>
    </application>
  </extension>

  <extension id="org.mitk.product.CoreApp" point="org.blueberry.core.runtime.products">
    <product name="Core App" application="org.mitk.qt.coreapplication" description="A minimal viewer application">
    </product>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.coreapp.defaultperspective"
      name="Core App Home"
      class="QmitkDefaultPerspective">
    </perspective>
  </extension>

</plugin>
