<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.renderwindowmanager"
          name="Render Window Manager"
          class="QmitkRenderWindowManagerView"
					icon="resources/LayerManager_48.png" />
  </extension>

</plugin>
