<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  <extension point="org.opencherry.osgi.applications">
    <application id="uitestapplication">
      <run class="cherry::UITestApplication"/>
    </application>
  </extension>
  
  <extension point="org.opencherry.ui.perspectives">
      <perspective
            name="Performance Empty Perspective"
            class="cherry::EmptyPerspective"
            id="org.opencherry.uitest.util.EmptyPerspective">
      </perspective>
      <perspective
            name="Performance Empty Perspective 2"
            class="cherry::EmptyPerspective"
            id="org.opencherry.uitest.util.EmptyPerspective2">
      </perspective>
	</extension>
</plugin>
