<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension id="org.mitk.qt.extapplication" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkExtApplication"/>
    </application>
  </extension>

  <extension id="workbench" point="org.blueberry.core.runtime.products">
    <product name="MITK Workbench" application="org.mitk.qt.extapplication" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.extapp.defaultperspective"
      name="Research"
      class="QmitkExtDefaultPerspective"
      icon="resources/icon_research.xpm">
    </perspective>
    <perspective
      id="org.mitk.mitkworkbench.perspectives.editor"
      name="Viewer"
      class="QmitkEditorPerspective"
      icon="resources/perspectives/viewer_icon.png">
    </perspective>
    <perspective
      id="org.mitk.mitkworkbench.perspectives.visualization"
      name="Visualization"
      class="QmitkVisualizationPerspective"
      icon="resources/perspectives/eye.png">
    </perspective>
  </extension>

   <extension point="org.blueberry.ui.preferencePages">
     <page
       id="org.blueberry.ui.preferencePages.Style"
       name="Themes"
       category="org.mitk.GeneralPreferencePage"
       class="berry::ExtensionFactory:stylePreferencePage">
       <keywordreference id="org.blueberry.ui.style"/>
     </page>
     <page
       id="org.blueberry.ui.preferencePages.Perspectives"
       name="Perspectives"
       category="org.mitk.GeneralPreferencePage"
       class="berry::ExtensionFactory:perspectivesPreferencePage">
       <keywordreference id="org.blueberry.ui.perspectives"/>
     </page>
   </extension>
</plugin>
