<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.osgi.applications">
    <application id="org.mitk.example.testapplication">
      <run class="TestApplication"/>
    </application>
  </extension>
  
  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.example.testperspective"
      name="Test Example Perspective"
      class="TestPerspective">
    </perspective>
  </extension>
  
  <extension point="org.blueberry.ui.perspectives">
    <perspective
      id="org.mitk.example.testperspective2"
      name="Test Example Perspective 2"
      class="TestPerspective2">
    </perspective>
  </extension>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.minimalview"
          name="Minimal View"
          class="MinimalView"/>
  </extension>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.datamanager" 
      name="Datamanager" 
      class="QmitkDataManagerView" />
  </extension>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.simplerenderwindowview" 
      name="Simple Render Window View" 
      class="SimpleRenderWindowView" />
  </extension>
  
</plugin>
