<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.opencherry.ui.views"> 
      <category 
         id="org.opencherry.views.general" 
         name="General"/> 
      <view 
         id="org.opencherry.views.logview" 
         name="Log View" 
         category="org.opencherry.views.general" 
         class="cherry::LogView" />
   </extension>
   
   <extension point="org.opencherry.ui.tweaklets"> 
      <tweaklet 
         id="org.opencherry.ui.qt.tweaklets.WorkbenchTweaklet" 
         name="Qt Workbench Tweaklet" 
         description="Qt specific Workbench tweaks" 
         definition="cherryWorkbenchTweaklet" 
         implementation="cherry::QtWorkbenchTweaklet" />
         
      <tweaklet 
         id="org.opencherry.ui.qt.tweaklets.WorkbenchPageTweaklet" 
         name="Qt WorkbenchPage Tweaklet" 
         description="Qt specific WorkbenchPage tweaks" 
         definition="cherryWorkbenchPageTweaklet" 
         implementation="cherry::QtWorkbenchPageTweaklet" />
         
      <tweaklet 
         id="org.opencherry.ui.qt.tweaklets.GuiWidgetsTweaklet" 
         name="Qt Widgets Tweaklet" 
         description="Qt specific widget tweaks" 
         definition="cherryGuiWidgetsTweaklet" 
         implementation="cherry::QtWidgetsTweaklet" />
         
       <tweaklet 
         id="org.opencherry.ui.qt.tweaklets.DnDTweaklet" 
         name="Qt DnD Tweaklet" 
         description="Qt specific DnD tweaks" 
         definition="cherryDnDTweaklet" 
         implementation="cherry::QtDnDTweaklet" />
         
       <tweaklet 
         id="org.opencherry.ui.qt.tweaklets.ImageTweaklet" 
         name="Qt Image Tweaklet" 
         description="Qt specific image tweaks" 
         definition="cherryImageTweaklet" 
         implementation="cherry::QtImageTweaklet" />
   </extension>
   
   <extension
         point="org.opencherry.ui.presentationFactories">
      <factory
            name="Default"
            class="cherry::QtWorkbenchPresentationFactory"
            id="org.opencherry.ui.presentations.default">
      </factory>
   </extension>
</plugin>