<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="org.mitk.gui.qt.helloworld.dialogs" name="Dialogs" schema="schema/dialogs.exsd"/>

  <extension point="org.opencherry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/> 
    <view 
      id="org.mitk.views.helloworld" 
      name="Hello World" 
      category="org.mitk.views.general" 
      icon="resources/HelloWorld.png"
      class="QmitkHelloWorldView" />
  </extension>
  
  <extension point="org.mitk.gui.qt.helloworld.dialogs"> 
    <dialog 
      id="helloworlddialog" 
      class="HelloWorldDialog" />
  </extension>  
</plugin>