<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.volumevisualization"
          name="Volume Visualization"
          class="QmitkVolumeVisualizationView"
          icon="resources/volume_visualization.svg"
          category="General">
      <description>Configure the 3D-Visualization of images.</description>
      <keywordReference id="org.mitk.views.volumevisualization.ViewKeyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="Visualisation" />
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="3D" />
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="Rendering" />
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="Volumevisualisation" />
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="Look-up-table" />
    <keyword id="org.mitk.views.volumevisualization.ViewKeyword"  label="Color Colour" />
  </extension>

  <!--This extension points adds the volume visualization view to the
  "Window->Show Views" menu if the visualization perspective is opened-->
  <extension point="org.blueberry.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.mitk.mitkworkbench.perspectives.visualization">
        <viewShortcut id="org.mitk.views.volumevisualization"/>
        <view id="org.mitk.views.volumevisualization"
              relative="org.mitk.views.datamanager"
              relationship="bottom"
              ratio="0.80"
              visible="false"/>
	</perspectiveExtension>
  </extension>
</plugin>
