<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.moviemaker"
          name="Movie Maker"
          class="QmitkMovieMaker"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.screenshotmaker"
          name="Screenshot Maker"
          class="QmitkScreenshotMaker"
          icon="resources/screenshot_maker.png" />
  </extension>
  <extension point="org.blueberry.ui.taglists">
    <taglist id="org.mitk.views.moviemaker">
      <tag>Moving Images</tag>
      <tag>Documentation</tag>
      <tag>Visualisation</tag>
      <tag>Document</tag>
      <tag>Screen capture</tag>
    </taglist>
  </extension>
</plugin>
