<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.moviemaker"
          name="Movie Maker"
          class="QmitkMovieMakerView"
          icon="resources/camera-video.png" >
          <description>Take movies of your data</description>
          <keywordReference id="org.mitk.views.moviemaker.Keyword"/>
        </view>
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.screenshotmaker"
          name="Screenshot Maker"
          class="QmitkScreenshotMaker"
          icon="resources/screenshot_maker.png" >
      <description>Take screenshots of your data</description>
      <keywordReference id="org.mitk.views.screenshotmaker.Keyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.keywords">

  <keyword label="image" id="org.mitk.views.screenshotmaker.Keyword"/>
  <keyword label="picture" id="org.mitk.views.screenshotmaker.Keyword"/>
  <keyword label="screenshot" id="org.mitk.views.screenshotmaker.Keyword"/>

  <keyword label="movie" id="org.mitk.views.moviemaker.Keyword"/>
  <keyword label="clip" id="org.mitk.views.moviemaker.Keyword"/>

 </extension>
</plugin>
