<?xml version="1.0" encoding="UTF-8"?>
<?blueBerry version="0.1"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.colourimageprocessing"
          name="Colour Image Processing"
          class="::QmitkColourImageProcessingView" 
          icon="resources/icon.xpm" />
  </extension>

</plugin>
