<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.blueberry.ui.views">
    <view
      id="org.mitk.views.imagecropper"
      name="Image Cropper"
      category="General"
      icon="resources/crop.svg"
      class="QmitkImageCropper" >
      <description>Crop images to a given size</description>
      <keywordReference id="org.mitk.views.imagecropper.ViewKeyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Size" />
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Match Size" />
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Resizing" />
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Changing Dimension" />
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Image Dimension" />
    <keyword id="org.mitk.views.imagecropper.ViewKeyword" label="Image cropping" />
  </extension>

</plugin>
