<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.undoredoview"
          name="Undo/Redo Inspector"
          class="QmitkUndoRedoView"
          icon="resources/undo_redo_view.svg"
		  category="General">
          <description>View the undo redo stack of the application.</description>
	</view>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.UndoRedoPreferencePage"
          name="Undo/Redo"
          class="QmitkUndoRedoPreferencePage"
          category="org.mitk.GeneralPreferencePage"/>
  </extension>

</plugin>
