<?xml version="1.0"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.simulation"
          name="Simulation"
          class="QmitkSimulationView"
          icon="resources/SOFAIcon.png" />
  </extension>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.SimulationPreferencePage"
          name="Simulation"
          class="QmitkSimulationPreferencePage" />
  </extension>
</plugin>
