<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.matchpoint.algorithm.browser"
          name="MatchPoint Algorithm Browser"
          class="QmitkMatchPointBrowser"
		  category="Registration"
          icon="resources/icon.svg" />
  </extension>

</plugin>
