<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.stdmultiwidget"
      name="Standard Display"
      icon="resources/StdMultiWidgetEditor.svg"
      extensions="mitk"
	  default="true"
      class="QmitkStdMultiWidgetEditor">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.StdMultiWidgetEditorPreferencePage" name="Standard Multi Widget"
      class="QmitkStdMultiWidgetEditorPreferencePage" category="org.mitk.EditorsPreferencePage">
      <keywordreference id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords"/>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="zooming panning contraint"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="show level window widget"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="pacs like mouse interaction select left mouse button action"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="rendering mode standard"/>
    <keyword id="org.mitk.StdMultiWidgetEditorPreferencePageKeywords" label="crosshair gap size background decoration color corner annotation"/>
  </extension>
</plugin>
