<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.denoisingview"
    name="Denoising"
    category="Preprocessing"
    class="QmitkDenoisingView"
    icon="resources/denoisingicon.png">
    <keywordReference id="org.mitk.views.denoisingview.Keyword"/>
    </view>

  </extension>


  <extension point="org.blueberry.ui.keywords">



  </extension>

</plugin>
