<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.datastorageviewertest"
          name="Data Storage Viewer Test"
          class="QmitkDataStorageViewerTestView"
		  icon="resources/DataStorageViewer_48.png" />
  </extension>

</plugin>
