<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.opencherry.ui.views">
    <category
      id="org.mitk.views.general"
      name="MITK General"/>
    <view
      id="org.mitk.views.isosurface"
      name="IsoSurface"
      category="org.mitk.views.general"
      icon="resources/isoSurface.xpm"
      class="QmitkIsoSurface" />
  </extension>

</plugin>
