<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.opencherry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/> 
    <view 
      id="org.mitk.views.datamanager" 
      name="Datamanager" 
      category="org.mitk.views.general"
      icon="resources/datamanager.xpm"
      class="QmitkDataManagerView" />
  </extension>
</plugin>