<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.opencherry.osgi.applications">
    <application id="org.mitk.qt.extapplication">
      <run class="QmitkExtApplication"/>
    </application>
  </extension>
  
  <extension point="org.opencherry.ui.perspectives">
    <perspective
      id="org.mitk.extapp.defaultperspective"
      name="Research"
      class="QmitkExtDefaultPerspective
	  icon="resources/icon_research.xpm">
    </perspective>
  </extension>
</plugin>