<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.opencherry.ui.views">
    <view id="org.mitk.views.mitksurfacematerialeditor"
          name="Surface Material Editor"
          class="::QmitkMITKSurfaceMaterialEditorView"
          icon="resources/SurfaceMaterialEditor.png" />
  </extension>

</plugin>
