<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.spectralunmixing"
          name="Spectral Unmixing"
          category="Photoacoustics"
          class="SpectralUnmixing"
          icon="resources/spectralunmixing.svg" />
  </extension>

</plugin>
