<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.tofutil"
          name="ToF Util"
          class="QmitkToFUtilView" 
          icon="resources/iconToFUtilView.xpm" />
    <view id="org.mitk.views.tofgeneration"
          name="ToF Device Generation"
          class="QmitkToFDeviceGeneration"
          icon="resources/iconGenerationView.xpm" />
    <view id="org.mitk.views.tofscreenshotmaker"
          name="ToF Screenshot Maker"
          class="QmitkToFScreenshotMaker"
          icon="resources/iconToFScrenshotMaker.xpm" />
  </extension>

</plugin>
