<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.tofutil"
          name="ToF Util"
          category="IGT"
          class="QmitkToFUtilView" 
          icon="resources/icon_tof_util.svg" />
    <view id="org.mitk.views.tofgeneration"
          name="ToF Device Generation"
          category="IGT"
          class="QmitkToFDeviceGeneration"
          icon="resources/icon_tof_settings.svg" />
    <view id="org.mitk.views.tofscreenshotmaker"
          name="ToF Screenshot Maker"
          category="IGT"
          class="QmitkToFScreenshotMaker"
          icon="resources/icon_tof_screenshot.svg" />
  </extension>

</plugin>
