<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.tofutil"
          name="ToFUtil"
          class="QmitkToFUtilView" 
          icon="resources/iconToFUtilView.xpm" />
    <view id="org.mitk.views.tofgeneration"
          name="ToFDeviceGeneration"
          class="QmitkToFDeviceGeneration"
          icon="resources/iconGenerationView.xpm" />
  </extension>

</plugin>
