<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.photoacoustics.pausviewer"
          name="PA US Viewer"
          category="Photoacoustics"
          class="QmitkPAUSViewerView"
          icon="resources/iconPAUSViewer.svg" />
  </extension>

</plugin>
