<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.opencherry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/> 
    <view 
      id="org.mitk.views.datamanager" 
      name="Datamanager" 
      category="org.mitk.views.general"
      icon="resources/DataManager_48.png"
      class="QmitkDataManagerView" />
  </extension>
  
  <!--
  <extension point="org.opencherry.ui.views">
    <view 
      id="org.mitk.views.propertylistview" 
      name="Property List" 
      icon="resources/propertylist.png"
      class="QmitkPropertyListView" />
  </extension>
  -->

  <extension point="org.opencherry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.DataManagerPreferencePage" name="DataManager" class="QmitkDataManagerPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.DataManagerPreferencePageKeywords"></keywordreference>
    </page>
    <page id="org.mitk.gui.qt.application.DataManagerHotkeysPrefPage" name="Hotkeys" class="QmitkDataManagerHotkeysPrefPage" category="org.mitk.gui.qt.application.DataManagerPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.DataManagerHotkeysPrefPageKeywords"></keywordreference>
    </page>	
  </extension>

  <extension point="org.opencherry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.DataManagerPreferencePageKeywords" label="data manager"></keyword>
    <keyword id="org.mitk.gui.qt.application.DataManagerHotkeysPrefPageKeywords" label="data manager hotkeys"></keyword>
  </extension>

</plugin>
