<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <category id="org.blueberry.views.help"
              name="Help"/>

    <view id="org.blueberry.views.helpcontents"
          name="Contents"
          category="org.blueberry.views.help"
          class="berry::HelpContentView"
          icon="resources/help.png" />

    <view id="org.blueberry.views.helpindex"
          name="Index"
          category="org.blueberry.views.help"
          class="berry::HelpIndexView"
          icon="resources/help.png" />

    <view id="org.blueberry.views.helpsearch"
          name="Search"
          category="org.blueberry.views.help"
          class="berry::HelpSearchView"
          icon="resources/help.png" />
  </extension>

  <extension point="org.blueberry.ui.editors">
    <editor id="org.blueberry.editors.help"
            name="Help Contents"
            class="berry::HelpEditor"
            icon="resources/help.png">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="org.blueberry.perspectives.help"
                 name="Help"
                 class="berry::HelpPerspective"
                 icon="resources/help.png">
    </perspective>
  </extension>
</plugin>
