<?xml version="1.0"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.properties"
          name="Properties"
          class="QmitkPropertyTreeView"
          icon="resources/icon.png" >
          <description>View, Set, and Change properties of DataNodes</description>
          <keywordReference id="org.mitk.views.properties.Keyword"/>
    </view>
  </extension>
  <extension point="org.blueberry.ui.keywords">
    <keyword label="DataNode Data Show" id="org.mitk.views.properties.Keyword"/>
  </extension>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.PropertiesPreferencePage" name="Properties" class="QmitkPropertiesPreferencePage" />
  </extension>
</plugin>
