<?xml version="1.0"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.properties"
          name="Properties"
          category="Data"
          class="QmitkPropertyTreeView"
          icon="resources/property_list.svg" >
          <description>View, Set, and Change properties of DataNodes</description>
    </view>
  </extension>
  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.properties.Keyword" label="DataNode Data Show aliases properties replace genuine property name by" />
    <keyword id="org.mitk.views.properties.Keyword" label="show description persistence info filters filtered developer mode enabled" />
  </extension>

</plugin>
