body {
    background-color: #323231 !important;
}

/*-- Bar --*/
.c3-bar {
  fill-opacity: 1; 
  }
  
.c3-bar._expanded_ {
  fill: red !important; /*-- The !important tag prevents the color from being overwritten at rendering--*/
  fill-opacity: 1; 
}

/*-- Line --*/
.c3-line {
  stroke-width: 1px;
  stroke: #ADB1B6;
  /*stroke-dasharray: 5,5; /*to make it dashed*/
}

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: red !important;
  fill: red !important; /*-- The !important tag prevents the color from being overwritten at rendering--*/}

path.domain { stroke: #ADB1B6 !important; }
.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-x ticks {
  stroke: #ADB1B6 !important;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line, .c3 .c3-axis-y ticks {
  stroke: #ADB1B6 !important;
}
.c3 text {
  fill:#ADB1B6 !important;
}
.c3-tooltip{background-color:#323231 !important;}
.c3-tooltip th{
  background-color:#323231 !important;
  color:#ADB1B6 !important;
}
.c3-tooltip td{
  background-color:#323231 !important;
  color:#ADB1B6 !important;
}
