<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.openigtlinkmanager"
          name="OpenIGTLink Manager"
          category="IGT"
          class="QmitkOpenIGTLinkManager"
          icon="resources/icon_openigtlink_manager.svg" />
  </extension>

</plugin>
