<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.gui.qt.cli"
          name="CLI"
          class="CommandLineModulesView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.cli.CommandLineModulesPreferencesPage" name="CLI" class="CommandLineModulesPreferencesPage">
      <keywordreference id="org.mitk.gui.qt.cli.CommandLineModulesPreferencesPageKeywords"></keywordreference>
    </page>
  </extension>

</plugin>
