<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.gui.qt.pet.suvcalculation"
          name="PET SUV Calculation View"
		  category="PET"
          class="QmitkPETSUVCalculationView"
          icon="resources/petsuv.png" />
  </extension>

</plugin>
