<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.cest.statistics"
          name="CEST Statistics"
          class="QmitkCESTStatisticsView"
          icon="resources/icon.svg"
		  category="CEST"/>
  </extension>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.cest.normalization"
          name="CEST normalization"
          class="QmitkCESTNormalizeView"
          icon="resources/cest_normalize.svg"
		  category="CEST"/>
  </extension>
</plugin>
