<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.volumevisualization_v2"
          name="Volume Visualization v2"
          class="QmitkVolumeVisualizationV2View"
          icon="resources/volume_visualization.svg"
          category="General">
      <description>Experimental rework of the volume visualization view</description>
    </view>
  </extension>
</plugin>
