<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.ext.ExtPreferencePage" name="ExtPreferences" class="QmitkExtPreferencePage">
      <keywordreference id="org.mitk.gui.qt.ext.ExtPreferencePageKeywords"></keywordreference>
    </page>
    <page id="org.mitk.gui.qt.ext.InputDevicesPrefPage" name="InputDevices" class="QmitkInputDevicesPrefPage" category="org.mitk.gui.qt.ext.ExtPreferencePage">
      <keywordreference id="org.mitk.gui.qt.ext.InputDevicesPrefPage"></keywordreference>
    </page>	
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.ext.ExtPreferencePageKeywords" label="3D mouse"></keyword>
    <keyword id="org.mitk.gui.qt.ext.ExtPreferencePageKeywords" label="WiiMote"></keyword>
    <keyword id="org.mitk.gui.qt.ext.ExtPreferencePageKeywords" label="Input Devices"></keyword>
  </extension>

</plugin>
