<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  
  <extension point="org.opencherry.ui.views">
    <view id="org.mitk.views.volumetry"
          name="Volumetry"
          class="::QmitkVolumetryView" 
          icon="resources/volumetryIcon.xpm" />
  </extension>

</plugin>
