<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  <extension point="org.opencherry.ui.views">
    <category 
      id="org.mitk.views.general" 
      name="MITK General"/> 
    <view 
      id="org.mitk.views.volumevisualization" 
      name="Volume Visualization" 
      category="org.mitk.views.general" 
      class="QmitkVolumeVisualizationView" 
      icon="resources/icon.xpm" />
  </extension>
</plugin>