<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  <extension point="org.blueberry.osgi.applications">
    <application id="uitestapplication">
      <run class="berry::UITestApplication"/>
    </application>
  </extension>
  
  <extension point="org.blueberry.ui.perspectives">
      <perspective
            name="Performance Empty Perspective"
            class="berry::EmptyPerspective"
            id="org.blueberry.uitest.util.EmptyPerspective">
      </perspective>
      <perspective
            name="Performance Empty Perspective 2"
            class="berry::EmptyPerspective"
            id="org.blueberry.uitest.util.EmptyPerspective2">
      </perspective>
  </extension>
</plugin>
