<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  
  <extension point="org.opencherry.ui.views">
    <view id="org.mitk.views.moviemaker"
          name="MovieMaker"
          class="::QmitkMovieMaker"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  
  <extension point="org.opencherry.ui.views">
    <view id="org.mitk.views.moviemaker"
          name="MovieMaker"
          class="::QmitkMovieMaker" />
  </extension>

</plugin>
