<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <category id="org.blueberry.views.help"
              name="Help"/>

    <view id="org.blueberry.views.helpindex"
          name="User Manuals"
          category="Help"
          class="berry::HelpIndexView"
          icon="resources/helpIndex.svg" />
  </extension>

  <extension point="org.blueberry.ui.editors">
    <editor id="org.blueberry.editors.help"
            name="Help Contents"
            class="berry::HelpEditor"
            icon="resources/help.svg">
    </editor>
  </extension>

  <extension point="org.blueberry.ui.elementFactories">
    <factory id="org.blueberry.ui.internal.HelpEditorInputFactory"
            class="berry::HelpEditorInputFactory">
    </factory>
  </extension>
</plugin>
