<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.gui.qt.rt.dosevisualization"
          name="RT Dose Visualization"
          class="RTDoseVisualizer"
          icon="resources/iso.png" />
    <view id="org.mitk.views.loadingrtview"
          name=" Loading RT"
          class="LoadingRTView"
          icon="resources/iso2.png" />
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.rt.prefpage.main" name="Radiotherapy" class="RTUIPreferencePage"></page>
    <page id="org.mitk.rt.prefpage.dose" name="Dose Visualization" class="DoseVisualizationPreferencePage" category="org.mitk.rt.prefpage.main"></page>
  </extension>
</plugin>
