body {
    font: 10px sans-serif;
}

.bar {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.infobox {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    position: absolute;
    width: 200px;
    display: none;
}
