<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.opencherry.osgi.applications">
    <application id="org.mitk.qt.application">
      <run class="QmitkApplication"/>
    </application>
  </extension>
  
  <extension point="org.opencherry.ui.perspectives">
    <perspective
      id="org.mitk.perspectives.default"
      name="Default Perspective"
      class="QmitkDefaultPerspective">
    </perspective>
  </extension>
  
  <extension point="org.opencherry.ui.preferencePages">
	  <page id="org.mitk.gui.qt.application.GeneralPreferencePage" name="General" class="QmitkGeneralPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.GeneralPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

  <extension point="org.opencherry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.GeneralPreferencePageKeywords" label="general preferences store"></keyword>
  </extension>
  
</plugin>