<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>

<plugin>
  <extension point="org.blueberry.core.expressions.propertyTesters">
    <propertyTester
      id="org.blueberry.core.expressions.pluginPropertyTester"
      type="berry::ObjectTypeInfo"
      namespace="org.blueberry.core.runtime"
      properties="product,isPluginInstalled,pluginState"
      class="berry::PlatformPropertyTester">
    </propertyTester>
  </extension>
</plugin>
