<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>

<plugin>
  <extension-point id="org.blueberry.core.expressions.propertyTesters" name="Property Tester Extension-Point" schema="schema/propertyTesters.exsd"/>
  <extension-point id="org.blueberry.core.expressions.definitions" name="Defintions Extension-Point" schema="schema/definitions.exsd"/>
  <extension-point id="org.blueberry.core.expressions.commonExpression" name="Common Expressions Extension-Point" schema="schema/expressionLanguage.exsd"/>

  <extension point="org.blueberry.core.expressions.propertyTesters">
    <propertyTester
      id="org.blueberry.core.expressions.pluginPropertyTester"
      type="berry::ObjectTypeInfo"
      namespace="org.blueberry.core.runtime"
      properties="product,isPluginInstalled,pluginState"
      class="berry::PlatformPropertyTester">
    </propertyTester>
  </extension>
</plugin>
