<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.igttutorial"
          name="IGT Tutorial"
          class="QmitkIGTTutorialView"
          icon="resources/IGTTutorial.png"/>
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.igttrackinglab"
          name="IGT Tracking Lab"
          class="QmitkIGTTrackingLabView"
          icon="resources/IgtTrackingLab.png" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.OpenIGTLinkExample"
          name="OpenIGTLinkExample"
          class="OpenIGTLinkExample"
          icon="resources/example.png" />
  </extension>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.OpenIGTLinkProviderExample"
          name="OpenIGTLinkProviderExample"
          class="OpenIGTLinkProviderExample"
          icon="resources/provider.png" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.openigtlinkplugin"
          name="OpenIGTLink Plugin"
          class="OpenIGTLinkPlugin"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
