<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.igttutorial"
          name="IGT Example: IGT QT Tutorial"
          category="IGT"
          class="QmitkIGTTutorialView"
          icon="resources/icon_igt_simple_example.svg"/>
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.igttrackinglab"
          name="IGT Example: Tracking Lab"
          category="IGT"
          class="QmitkIGTTrackingLabView"
          icon="resources/icon_igt_tracking_lab.svg" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.OpenIGTLinkExample"
          name="OpenIGTLink Example: Client"
          category="IGT"
          class="OpenIGTLinkExample"
          icon="resources/icon_openigtlink_client_example.svg" />
  </extension>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.OpenIGTLinkProviderExample"
          name="OpenIGTLink Example: Provider"
          category="IGT"
          class="OpenIGTLinkProviderExample"
          icon="resources/icon_openigtlink_provider_example.svg" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.openigtlinkplugin"
          name="OpenIGTLink Example: Simultaneous Streaming"
          category="IGT"
          class="OpenIGTLinkPlugin"
          icon="resources/icon_openigtlink_extended_example.svg" />
  </extension>

</plugin>
