<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.ultrasoundsupport"
          name="Ultrasound Support"
          category="IGT"
          class="QmitkUltrasoundSupport"
          icon="resources/icon_ultrasound.svg" />
  </extension>

</plugin>
