<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.opencherry.osgi.applications">
    <application id="org.mitk.qt.application">
      <run class="QmitkApplication"/>
    </application>
  </extension>
  
  <extension point="org.opencherry.ui.perspectives">
    <perspective
      id="org.mitk.perspectives.default"
      name="Default Perspective"
      class="QmitkDefaultPerspective">
    </perspective>
  </extension>
   
  <extension point="org.opencherry.ui.editors">
    <editor
      id="org.mitk.editors.stdmultiwidget"
      name="Standard View"
      class="QmitkStdMultiWidgetEditor">
    </editor>
  </extension>
</plugin>