<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.editors">
    <editor id="org.mitk.editors.qmitkxnateditor"
      name="XNAT Editor"
      class="QmitkXnatEditor"
      icon="resources/icon.xpm"/>
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.qmitkxnattreebrowserview"
      name="XNAT Tree Browser"
      class="QmitkXnatTreeBrowserView"
      icon="resources/icon.xpm"/>
    <view id="org.mitk.views.qmitkxnatsimplesearchview"
      name="XNAT Simple Search"
      class="QmitkXnatSimpleSearchView"
      icon="resources/icon.xpm"/>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.XnatConnectionPreferencePage" name="Xnat Connection" class="QmitkXnatConnectionPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.XnatConnectionPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.XnatConnectionPreferencePageKeywords" label="xnat session connection login connect"></keyword>
  </extension>

</plugin>
