<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  <extension-point id="org.blueberry.tests" name="Unit Tests" schema="schema/tests.exsd"/>
  
  <extension point="org.blueberry.osgi.applications">
    <application id="coretestapplication">
      <run class="berry::CoreTestApplication"/>
    </application>
  </extension>
  </plugin>