<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  <extension-point id="org.opencherry.tests" name="Unit Tests" schema="schema/tests.exsd"/>
  
  <extension point="org.opencherry.osgi.applications">
    <application id="coretestapplication">
      <run class="cherry::CoreTestApplication"/>
    </application>
  </extension>
  </plugin>