<?xml version="1.0"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pointsetinteraction"
          name="Point Set Interaction"
          class="QmitkPointSetInteractionView"
          icon="resources/pointset_interaction.svg"
          category="General" />
  </extension>
</plugin>
