<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view
      id="org.mitk.views.python"
      name="Python Console"
      category="General"
      icon="resources/Python.png"
      class="QmitkPythonView" >
      <description>Allow the acces of python from MITK</description>
      <keywordReference id="org.mitk.views.python.Keyword"/>
    </view>
  </extension>
  <extension point="org.blueberry.ui.keywords">
    <keyword label="Python" id="org.mitk.views.python.Keyword"/>
    <keyword label="Scripting" id="org.mitk.views.python.Keyword"/>
    <keyword label="Programming" id="org.mitk.views.python.Keyword"/>
    <keyword label="Automatic" id="org.mitk.views.python.Keyword"/>
  </extension>
</plugin>
