<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pythonconsole"
          name="PythonConsole"
          class="QmitkPythonConsoleView" 
          icon="resources/py.png" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pythonvariablestack"
          name="Python Variable Stack"
          class="QmitkPythonVariableStack"
          icon="resources/py.png" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pythonsnippets"
          name="Python Snippets"
          class="::QmitkPythonSnippets"
          icon="resources/py.png" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pythoncommandhistory"
          name="Python Command History"
          class="QmitkPythonCommandHistory"
          icon="resources/py.png" />
  </extension>

  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.pythoneditor"
      name="Python Editor"
      class="QmitkPythonEditor"
      icon="resources/py.png" >
    </editor>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective name="Python"
        class="QmitkPythonPerspective"
        id="org.blueberry.ui.articles.perspective.Python"
        icon="resources/py.png" >
    </perspective>
  </extension>


</plugin>
