<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.pausmotioncompensation"
          name="PAUS Motion Compensation"
          category="Photoacoustics"
          class="PAUSMotionCompensation"
          icon="resources/pai.svg" />
  </extension>

</plugin>
