<?xml version="1.0" encoding="UTF-8"?>
<?openCherry version="0.1"?>
<plugin>
  
  <extension point="org.opencherry.ui.views">
    <view id="org.mitk.views.imagenavigator"
          name="Image Navigator"
          class="::QmitkImageNavigatorView" 
          icon="resources/icon.xpm" />
  </extension>

</plugin>
