<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="org.mitk.views.odfmaximaextraction"
    name="Peak Extraction"
    category="Signal modeling"
    class="QmitkOdfMaximaExtractionView"
    icon="resources/odf_peaks.png">
    <keywordReference id="org.mitk.views.odfmaximaextraction.Keyword"/>
    </view>

  </extension>

  <extension point="org.blueberry.ui.keywords">

  <keyword label="ODF" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="SH" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="spherical harmonic" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="maximum" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="peak" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="main" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="FOD" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="direction" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="fODF" id="org.mitk.views.odfmaximaextraction.Keyword"/>
  <keyword label="dODF" id="org.mitk.views.odfmaximaextraction.Keyword"/>

  </extension>

</plugin>
