<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.blueberry.ui.views">
    <view
      id="org.mitk.views.voxelvalue"
      name="Voxel Value"
      category="General"
      icon="resources/icon.svg"
      class="QmitkVoxelValueView" >
      <description>Crop images to a given size</description>
      <keywordReference id="org.mitk.views.voxelvalue.ViewKeyword"/>
    </view>
  </extension>

</plugin>
