cherry--QCTabBar::tab:selected {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(highlight));
}

QFrame#ViewFormContentFrame {
    border: 2px solid palette(highlight)
}