<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.matchpoint.mapper"
          name="MatchPoint Mapper"
          class="QmitkMatchPointMapper"
		  category="Registration"
          icon="resources/icon.svg" />
  </extension>

</plugin>
