<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
      id="org.mitk.editors.dicomeditor"
      name="MITK DICOM Editor"
      class="QmitkDicomEditor"
      icon="resources/icon.xpm" >
    </editor>
  </extension>
  <!--
  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.QmitkDicomPreferencePage" name="Dicom Editor" class="QmitkDicomPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.DataManagerPreferencePageKeywords"></keywordreference>
    </page>
  </extension>
  !-->
</plugin>
