<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
  <extension point="org.blueberry.osgi.applications" id="org.mitk.qt.diffusionimagingapp">
    <application>
      <run class="QmitkDiffusionImagingAppApplication"/>
    </application>
  </extension>

  <extension id="diffusion" point="org.blueberry.core.runtime.products">
    <product name="MITK Diffusion" application="org.mitk.qt.diffusionimagingapp" />
  </extension>

  <extension point="org.blueberry.ui.intro">
    <intro id="org.mitk.qt.diffusionimagingappintro"
      class="QmitkDiffusionImagingAppIntroPart"
      role="editor"/>
    <introProductBinding
      productId="org.mitk.gui.qt.diffusionimagingapp.diffusion"
      introId="org.mitk.qt.diffusionimagingappintro"/>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="org.mitk.diffusionimagingapp.perspectives.welcome"
      name="Data Display"
      class="QmitkWelcomePerspective"
      icon="resources/icon_home.png"/>
  </extension>


  <extension point="org.blueberry.ui.preferencePages">
    <page
      id="org.blueberry.ui.preferencePages.Style"
      name="Themes"
      category="org.mitk.GeneralPreferencePage"
      class="berry::ExtensionFactory:stylePreferencePage">
      <keywordreference id="org.blueberry.ui.style"/>
    </page>
    <page
      id="org.blueberry.ui.preferencePages.Perspectives"
      name="Perspectives"
      category="org.mitk.GeneralPreferencePage"
      class="berry::ExtensionFactory:perspectivesPreferencePage">
      <keywordreference id="org.blueberry.ui.perspectives"/>
    </page>
  </extension>

</plugin>

