<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">
  
    <view id="org.mitk.views.tbssskeletonization"
          name="Tbss Skeletonization"
          category="Quantification"
          class="QmitkTbssSkeletonizationView"
          icon="resources/tbss.png">
      <keywordReference id="org.mitk.views.tbssskeletonization.Keyword"/>
    </view>

    <view id="org.mitk.views.tractbasedspatialstatistics"
          name="Tract-based spatial statistics"
          category="Quantification"
          class="QmitkTractbasedSpatialStatisticsView"
          icon="resources/tbss.png">
      <keywordReference id="org.mitk.views.tractbasedspatialstatistics.Keyword"/>
    </view>
	
  </extension>

  
</plugin>
