<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.editors">
    <editor id="org.mitk.editors.xnat.browser"
      name="XNAT Editor"
      class="QmitkXnatEditor"
      icon="resources/xnat-icon.png">
      <description>Search, browse and view the data in a XNAT-Installation</description>
      <keywordReference id="org.mitk.views.xnat.browser.ViewKeyword"/>
    </editor>
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.xnat.treebrowser"
      name="XNAT Tree Browser"
      class="QmitkXnatTreeBrowserView"
      category="Data"
      icon="resources/xnat_treebrowser_icon.png">
      <description>Search, browse and view the data in a XNAT-Installation</description>
      <keywordReference id="org.mitk.views.xnat.treebrowser.ViewKeyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.application.XnatConnectionPreferencePage" name="Xnat Connection" class="QmitkXnatConnectionPreferencePage">
      <keywordreference id="org.mitk.gui.qt.application.XnatConnectionPreferencePageKeywords"></keywordreference>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.gui.qt.application.XnatConnectionPreferencePageKeywords" label="xnat session connection login settings server address port username password download path network proxy silent mode test connection"></keyword>
  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
    <contextMenuAction nodeDescriptorName="Unknown" label="Upload to XNAT" icon=":/xnat-plugin/xnat-icon.png" class="QmitkUploadToXNATAction" />
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="DICOM" />
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="WPACS" />
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="Data Source" />
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="Import" />
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="Data Handling" />
    <keyword id="org.mitk.views.xnat.treebrowser.ViewKeyword"  label="Data Loading" />

    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="DICOM" />
    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="WPACS" />
    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="Data Source" />
    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="Import" />
    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="Data Handling" />
    <keyword id="org.mitk.views.xnat.browser.ViewKeyword"  label="Data Loading" />
  </extension>
</plugin>
