<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.matchpoint.evaluator"
          name="MatchPoint Registration Evaluator"
          class="QmitkMatchPointRegistrationEvaluator"
          category="Registration"
          icon="resources/evaluator.svg" />
  </extension>

</plugin>
