<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.imagestatistics"
          name="Statistics"
          class="::QmitkImageStatistics"
          icon="resources/ImageStatistic_24.png" />
  </extension>

</plugin>
