<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <!--<view id="org.mitk.views.usnavigation"
          name="Ultrasound Navigation"
          class="USNavigation"
          icon="resources/icon.xpm" /> -->
    <view id="org.mitk.views.usmarkerplacement"
          name="Ultrasound Navigation 2"
          class="USNavigationMarkerPlacement"
          icon="resources/icon2.xpm" />
    <view id="org.mitk.views.ultrasoundcalibration"
          name="Ultrasound Calibration"
          class="UltrasoundCalibration"
          icon="resources/icon_calibration.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="org.mitk.gui.qt.usnavigation.perspective"
                 name="Ultrasound Navigation"
                 class="QmitkUSNavigationPerspective"
                 icon="resources/icon2.xpm" />
  </extension>
</plugin>
