<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.cmdlinemodules"
          name="Command Line Modules"
          class="CommandLineModulesView"
          icon="resources/icon.xpm" >
      <description>Control the execution of Commandline-Tools</description>
      <keywordReference id="org.mitk.views.cmdlinemodules.ViewKeyword"/>
    </view>
  </extension>

  <extension point="org.blueberry.ui.preferencePages">
    <page id="org.mitk.gui.qt.cmdlinemodules.CommandLineModulesPreferencesPage" name="Command Line Modules" class="CommandLineModulesPreferencesPage">
      <keywordreference id="org.mitk.gui.qt.cmdlinemodules.CommandLineModulesPreferencesPageKeywords"></keywordreference>
    </page>
  </extension>

  <extension point="org.blueberry.ui.keywords">
    <keyword id="org.mitk.views.cmdlinemodules.ViewKeyword"  label="CTK-Apps" />
    <keyword id="org.mitk.views.cmdlinemodules.ViewKeyword"  label="Apps" />
    <keyword id="org.mitk.views.cmdlinemodules.ViewKeyword"  label="Commandline" />
    <keyword id="org.mitk.views.cmdlinemodules.ViewKeyword"  label="CMD" />
    <keyword id="org.mitk.views.cmdlinemodules.ViewKeyword"  label="Smalltools" />
  </extension>

</plugin>
