<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>
   
   <extension point="org.blueberry.ui.tweaklets"> 
      <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.WorkbenchTweaklet" 
         name="Qt Workbench Tweaklet" 
         description="Qt specific Workbench tweaks" 
         definition="berryWorkbenchTweaklet" 
         implementation="berry::QtWorkbenchTweaklet" />
         
      <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.WorkbenchPageTweaklet" 
         name="Qt WorkbenchPage Tweaklet" 
         description="Qt specific WorkbenchPage tweaks" 
         definition="berryWorkbenchPageTweaklet" 
         implementation="berry::QtWorkbenchPageTweaklet" />
         
      <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.GuiWidgetsTweaklet" 
         name="Qt Widgets Tweaklet" 
         description="Qt specific widget tweaks" 
         definition="berryGuiWidgetsTweaklet" 
         implementation="berry::QtWidgetsTweaklet" />
         
       <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.DnDTweaklet" 
         name="Qt DnD Tweaklet" 
         description="Qt specific DnD tweaks" 
         definition="berryDnDTweaklet" 
         implementation="berry::QtDnDTweaklet" />
         
       <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.ImageTweaklet" 
         name="Qt Image Tweaklet" 
         description="Qt specific image tweaks" 
         definition="berryImageTweaklet" 
         implementation="berry::QtImageTweaklet" />
         
       <tweaklet 
         id="org.blueberry.ui.qt.tweaklets.MessageDialogTweaklet" 
         name="Qt Message Dialog Tweaklet" 
         description="Qt specific message dialogs" 
         definition="berryMessageDialogTweaklet" 
         implementation="berry::QtMessageDialogTweaklet" />
   </extension>
   
   <extension
         point="org.blueberry.ui.presentationFactories">
      <factory
            name="Default"
            class="berry::QtWorkbenchPresentationFactory"
            id="org.blueberry.ui.presentations.default">
      </factory>
   </extension>
   
   <extension point="org.blueberry.ui.preferencePages">
     <page id="org.blueberry.ui.qt.stylepreferencepage" name="Themes" class="berry::QtStylePreferencePage">
       <keywordreference id="org.blueberry.ui.qt.styleprefpagekeywords"/>
     </page>
   </extension>

   <extension point="org.blueberry.ui.keywords">
     <keyword id="org.blueberry.ui.qt.styleprefpagekeywords" label="theme skin style"></keyword>
   </extension>
  
</plugin>