<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="0.1"?>
<plugin>

   <extension-point id="org.blueberry.ui.commands" name="Commands" schema="schema/commands.exsd"/>
   <extension-point id="org.blueberry.ui.editors" name="Editors" schema="schema/editors.exsd"/>
   <extension-point id="org.blueberry.ui.handlers" name="Handlers" schema="schema/handlers.exsd"/>
   <extension-point id="org.blueberry.ui.intro" name="Introduction Extensions" schema="schema/intro.exsd"/>
   <extension-point id="org.blueberry.ui.preferencePages" name="Preference Pages" schema="schema/preferencePages.exsd"/>
   <extension-point id="org.blueberry.ui.views" name="Views" schema="schema/views.exsd"/>
   <extension-point id="org.blueberry.ui.keywords" name="keywords" schema="schema/keywords.exsd"/>
   <extension-point id="org.blueberry.ui.tweaklets" name="Tweaklets" schema="schema/tweaklets.exsd"/>
   <extension-point id="org.blueberry.ui.perspectives" name="Perspectives" schema="schema/perspectives.exsd"/>
   <extension-point id="org.blueberry.ui.presentationFactories" name="Presentation Factories" schema="schema/presentationFactories.exsd"/>
   <extension-point id="org.blueberry.ui.services" name="Services" schema="schema/services.exsd"/>

   <extension point="org.blueberry.ui.services">

      <serviceFactory factoryClass="berry::WorkbenchSupportFactory">
         <service serviceClass="org.blueberry.ui.IProgressService"/>
         <service serviceClass="org.blueberry.ui.IWorkbenchSiteProgressService"/>
         <service serviceClass="org.blueberry.ui.IPartService"/>
         <service serviceClass="org.blueberry.ui.IPageService"/>
         <service serviceClass="org.blueberry.ui.ISelectionService"/>
      </serviceFactory>

      <serviceFactory factoryClass="berry::HandlerServiceFactory">
         <service serviceClass="org.blueberry.ui.IHandlerService"/>
      </serviceFactory>

      <serviceFactory factoryClass="berry::EvaluationServiceFactory">
         <service serviceClass="org.blueberry.ui.IEvaluationService"/>
      </serviceFactory>
<!--
      <serviceFactory factoryClass="berry::ContextServiceFactory">
         <service serviceClass="org.blueberry.ui.IContextService"/>
      </serviceFactory>
-->
      <serviceFactory factoryClass="berry::CommandServiceFactory">
         <service serviceClass="org.blueberry.ui.ICommandService"/>
      </serviceFactory>

      <serviceFactory factoryClass="berry::MenuServiceFactory">
         <service serviceClass="org.blueberry.ui.IMenuService"/>
      </serviceFactory>

      <sourceProvider provider="berry::WorkbenchSourceProvider">
         <variable name="selection" priorityLevel="workbench"/>
         <variable name="activeShell" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindow" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindowShell" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindow.isToolbarVisible" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindow.isPerspectiveBarVisible" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindow.isSatusLineVisible" priorityLevel="workbench"/>
         <variable name="activeWorkbenchWindow.activePerspective" priorityLevel="workbench"/>
         <variable name="activeEditor" priorityLevel="workbench"/>
         <variable name="activeEditorId" priorityLevel="workbench"/>
         <variable name="activePart" priorityLevel="workbench"/>
         <variable name="activePartId" priorityLevel="workbench"/>
         <variable name="activeSite" priorityLevel="workbench"/>
         <variable name="activeEditorInput" priorityLevel="workbench"/>
      </sourceProvider>

   </extension>

   <extension point="org.blueberry.ui.commands">
     <command
        name="Show View"
        description="Shows a particular view"
        id="org.blueberry.ui.views.showView"
        defaultHandler="berry::ShowViewHandler">
        <commandParameter
          id="org.blueberry.ui.views.showView.viewId"
          name="View"
          values="berry::ViewParameterValues" />
        <commandParameter
          id="org.blueberry.ui.views.showView.secondaryId"
          name="Secondary Id"
          optional="true"/>
     </command>
   </extension>

   <extension point="org.blueberry.ui.views">
      <category
            name="General"
            id="org.blueberry.ui"/>
      <view
            class="berry::ViewIntroAdapterPart"
            category="org.blueberry.ui"
            name="Welcome"
            id="org.blueberry.ui.internal.introview"/>
      <stickyView
            location="RIGHT"
            id="org.blueberry.ui.internal.introview"/>
   </extension>

   <extension point="org.blueberry.ui.editors">
      <editor
            class="berry::EditorIntroAdapterPart"
            name="Welcome"
            id="org.blueberry.ui.internal.introeditor">
      </editor>
   </extension>

   <extension point="org.blueberry.ui.tweaklets">
      <tweaklet
         id="org.blueberry.ui.qt.tweaklets.WorkbenchTweaklet"
         name="Qt Workbench Tweaklet"
         description="Qt specific Workbench tweaks"
         definition="org.blueberry.WorkbenchTweaklet"
         implementation="berry::QtWorkbenchTweaklet" />

      <tweaklet
         id="org.blueberry.ui.qt.tweaklets.WorkbenchPageTweaklet"
         name="Qt WorkbenchPage Tweaklet"
         description="Qt specific WorkbenchPage tweaks"
         definition="org.blueberry.WorkbenchPageTweaklet"
         implementation="berry::QtWorkbenchPageTweaklet" />

      <tweaklet
         id="org.blueberry.ui.qt.tweaklets.GuiWidgetsTweaklet"
         name="Qt Widgets Tweaklet"
         description="Qt specific widget tweaks"
         definition="org.blueberry.GuiWidgetsTweaklet"
         implementation="berry::QtWidgetsTweaklet" />

       <tweaklet
         id="org.blueberry.ui.qt.tweaklets.DnDTweaklet"
         name="Qt DnD Tweaklet"
         description="Qt specific DnD tweaks"
         definition="org.blueberry.DnDTweaklet"
         implementation="berry::QtDnDTweaklet" />

       <tweaklet
         id="org.blueberry.ui.qt.tweaklets.ImageTweaklet"
         name="Qt Image Tweaklet"
         description="Qt specific image tweaks"
         definition="org.blueberry.ImageTweaklet"
         implementation="berry::QtImageTweaklet" />

       <tweaklet
         id="org.blueberry.ui.qt.tweaklets.MessageDialogTweaklet"
         name="Qt Message Dialog Tweaklet"
         description="Qt specific message dialogs"
         definition="org.blueberry.MessageDialogTweaklet"
         implementation="berry::QtMessageDialogTweaklet" />
   </extension>

   <extension point="org.blueberry.ui.presentationFactories">
      <factory
            name="Default"
            class="berry::QtWorkbenchPresentationFactory"
            id="org.blueberry.ui.presentations.default">
      </factory>
   </extension>

   <extension point="org.blueberry.ui.preferencePages">
     <page id="org.blueberry.ui.qt.stylepreferencepage" name="Themes" class="berry::QtStylePreferencePage">
       <keywordreference id="org.blueberry.ui.qt.styleprefpagekeywords"/>
     </page>
   </extension>

   <extension point="org.blueberry.ui.keywords">
     <keyword id="org.blueberry.ui.qt.styleprefpagekeywords" label="theme skin style"></keyword>
   </extension>

</plugin>
